
  
  .topic-in-gated-category {
    height: 100%;
    overflow-y: hidden;
    .topic-navigation {
      visibility: hidden;
    }
  
    .post-stream {
      max-height: 150vh;
      overflow: hidden;
    }
  
    // hides the content of the topic except the first line
    .container.posts::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 90%;
      z-index: 50;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 255, 255, 1) 70%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  .with-gated-category {
    .container.posts {
      .row {
        .post-stream {
          position: relative;
          &::before {
            content: "";
          width: 100%;
          height: calc(100% - 80px);
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #fff;
          z-index: 9;
          }
        }
      }
    }
    // the cover spanning from the bottom of the screen
      .custom-gated-topic-container {
        background: var(--tertiary-low);
        border-top: 5px solid var(--tertiary);
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        min-height: 72.5%;
      }
      
      .custom-gated-topic-content {
        text-align: center;
        margin: 10vh auto 0;
        padding: 1rem;
      
        &--header {
          font-size: var(--font-up-5);
          margin-bottom: 1rem;
          font-weight: 700;
        }
      
        &--text {
          font-size: var(--font-up-2);
        }
      
        &--cta {
          margin-top: 2rem;
      
          &__signup {
            margin-bottom: 1rem;
          }
      
          &__login {
            #cta-login-link {
              background: transparent;
              color: var(--primary-high);
            }
          }
        }
      }
  }
