{{#if shouldShow}}
  <div class="custom-gated-topic-container">
    <div class="custom-gated-topic-content">
      <div class="custom-gated-topic-content--header">
        {{theme-setting "heading_text"}}
      </div>
      <p class="custom-gated-topic-content--text">
        {{theme-setting "subheading_text"}}
      </p>

      <div class="custom-gated-topic-content--cta">
        <div class="custom-gated-topic-content--cta__signup">
          {{d-button action=(route-action "showCreateAccount") class="btn-primary btn-large sign-up-button" translatedLabel=(theme-setting "signup_cta_label")}}
        </div>
        <div class="custom-gated-topic-content--cta__login">
          {{d-button action=(route-action "showLogin") id="login-link" class="btn btn-text login-button" translatedLabel=(theme-setting "login_cta_label")}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
