{{#if shouldShow}}
  <div class="custom-gated-topic-container">
    <div class="custom-gated-topic-content">
      <div class="custom-gated-topic-content--header">
        {{theme-i18n "heading_text"}}
      </div>

      <p class="custom-gated-topic-content--text">
        {{theme-i18n "subheading_text"}}
      </p>

      <div class="custom-gated-topic-content--cta">
        <div class="custom-gated-topic-content--cta__signup">
          {{d-button
            action=(route-action "showCreateAccount")
            class="btn-primary btn-large sign-up-button"
            translatedLabel=(theme-i18n "signup_cta_label")
          }}
        </div>

       <a href="/s" class="gate-subscribe-for-member btn-primary btn btn-icon-text"> Subscribe </a>

      </div>
    </div>
  </div>
{{/if}}
